div.error404_main {
  background:
    url(/assets/img/error404.jpg)
    no-repeat;
  width: 950px;
  height: 550px;
  margin: 48px 21px 0 160px;
  position: relative;
}

span.main_txt {
  display: block;
  width: 150px;
  height: 63px;
  position: absolute;
  top: 223px;
  left: 745px;
  font-size: 13px;
  text-align: center;
  color: #1d1d1d;
  padding: 2px 0 0 0;
}

span.main_txt span {
  display: block;
  argin: 0 0 2px 0;
}
