<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Movie App</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a (click)="showFavorite()">Favorite</a></li>
      <li><a (click)="showAdminMovies()">Admin</a></li>
    </ul>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="showLogin()">Login</a></li>
        <li><a (click)="showRegister()">Register</a></li>
        <li><a>Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
